---
tags: 
    - article
    - chapter-one
layout: article.njk
pageTitle: HTML Attributes
title: "Making a Prettier Dungeon"
next: attributes
date: 2018-01-03
---
<h2>Fixing weirdness about the grid</h2>

<p>Our grid from the last lesson is looking a little weird, and not really at all like a game board that we would want  
