---
tags: 
    - article
    - chapter-one
layout: article.njk
pageTitle: HTML Wrap Up
title: "Takeaway from HTML"
next: css-intro
date: 2018-01-04
---
<h2>What we covered</h2>

<p>In the last chapter, here's a brief summary of what was covered:</p>
<ul>
    <li>Most web pages serve HTML documents</li>
    <li>HTML has many different tags, which are used to create nested elements</li>
    <li>Elements have attributes, which can be used to group them together, identify them, and change their appearance</li>
    <li>Elements can have their appearance changed with CSS</li>
</ul>

<h2>What we did</h2>
<p>In addition to our learnings, we also made a grid of dots on a black background.  It's still ugly and needs work.</p>
