---
tags: article
layout: article.njk
pageTitle: Introduction
title: Building a simple Roguelike using only Javascript, CSS, and HTML.
next: tags
---

<p>I'm using raw HTML for now, we'll see if I end up changing it.  Inserting things into classless markup will make it much easier for me to swap it out later with a search/replace.</p>

<p>The goal of this is to teach the very basics of developing for the front end of the web, completely from scratch.  I find that I always learn better when I'm making a project, so for this I'll be walking through the very basics of creating a Roguelike.<aside id="gamedev-roguelikes">*</aside></p>

<p>The entire game will be built using the HTML DOM, CSS, and Javascript.  It will be built using only Vanilla Javascript, and will tend to stay away from newer Javascript features (particularly those that aren't yet widely supported).  Since the goal of this is to cover general purpose programming using Javascript, it will first cover common programming concepts before moving into language specific territory.<aside id="technical-jsSpecific">*</aside></p>

<p>To start with, we'll list the features of our Roguelike.  We might not start with all of these, but we'll get there eventually.
    <ul>
        <li>Procedurally generated levels</li>
        <li>Randomly generated enemies</li>
        <li>Items that can be worn to increase stats</li>
        <li>A progression system with leveling</li>
    </ul></p>

<p>It will take a little while to get there.  For starters, let's make a basic, non procedurally generated map.</p>
