---
tags: aside
layout: aside.njk
pageTitle: Roguelikes
title: The Roguelike
category: gamedev
pagination:
    data: pageType
    size: 1
    alias: type
pageType:
    - ajax
    - asides
permalink: "{{ base }}/{{ type }}/{{ category }}/{{ page.fileSlug }}/index.html"
---

<p>Roguelikes are a genre of game characterized by permadeath, turn based gameplay and simplified tile set graphics.  The term roguelike came about in the early 1990s, when games like Angband, Rogue, and Hack became popular.  All of those games featured permanent character death, turn based gameplay, and simple ASCII based graphics, and were given a common name.</p>

<p>More recently, the Roguelike genre has grown to include games that don't precisely fit the orignal definition (examples include Faster Than Light, The Binding of Isaac, and Rogue Legacy), but include elements from the original genre.  These are often referred to as rogue-lite, indicating that they do not entirely fit into the category of Roguelike</p>

<p>The game developed here will fall under the category of "RogueLike", as it will have all of the features originally present.</p>
